
.rpBody
	.reply
		if bbs.tbl_replies
			table(width="100%")
				colgroup
					col(width="20%")
					col(width="70%")
					col(width="30%")
				each rp, index in bbs.tbl_replies
					tr
						td !{rp.r_writer}
						td !{rp.r_content} 
						td
							span.r-delete(data-r-id= rp.id, data-b-id = bbs.b_id) x
	form.reply(method="POST",action="/reply/insert")
		input(type="hidden",name="b_id",value= bbs.b_id )
		.r-input
			input(type="text",name="r_writer",placeholder="작성자를 입력하세요" ).form-control
		.r-input
			textarea(name="r_content", cols="100", rows="3")#b_repl
			button.btn.btn-primary.btn-sm 저장