extends layout

block content
	div.container-flud.p-3.text-blue
		form(method="POST")
			fieldset.b_write
				div.form-group
					input(type="date",name="b_date",placeholder="날짜선택",value= BBsVO.b_date).form-control#b_date
				div.form-group
					input(type="time" name="b_time",placeholder="시간선택",value= BBsVO.b_time).form-control#b_time
				div.form-group
					input(name="b_writer",placeholder="작성자를 입력하세요",value= BBsVO.b_writer).form-control#b_writer
				div.form-group
					input(name="b_subject",placeholder="제목을 입력하세요",value= BBsVO.b_subject).form-control#b_subject
				div.form-group
					textarea#summernote(name="b_text", cols="30", rows="50s")= BBsVO.b_text

				div.form-group.d-flex.justify-content-end
					button.btn.btn-primary 저장
					button(type="button")#btn-list.btn.btn-success 목록으로